AZURE_TENANT_ID="your-azure-tenant-id"
AZURE_CLIENT_ID="your-azure-client-id"
AZURE_CLIENT_SECRET="your-azure-client-secret"
BPA_SALES_EMAIL="your-bpa-sales-email"
GCPA_SALES_EMAIL="your-gcpa-sales-email"
BPA_HUBSPOT_BCC="your-bpa-hubspot-bcc-email"
GCPA_HUBSPOT_BCC="your-gcpa-hubspot-bcc-email"
ACCOUNTS_BCC="your-accounts-bcc-email"
BPA_DRIVE_ID="Waiting on ID"
GCPA_DRIVE_ID="Waiting on ID"